/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
html {
  /* Change default typefaces here */
  font-family: "Proxima Nova", "Helvetica Neue", Verdana, sans-serif;
  font-size: 127%;
  -webkit-font-smoothing: antialiased; }

body {
  color: #222;
  margin: 0px; }

.content {
  padding-bottom: 2rem; }

/* Link style */
a {
  color: #222;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.hero {
  text-align: center;
  background-color: gray;
  padding: 75px 0;
  background: url("../images/hero-img.jpg") no-repeat top center;
  background-size: cover; }
  .hero h2 {
    color: #fff;
    margin-top: 1rem; }

.stream-container {
  width: 100%;
  display: block;
  margin: auto;
  margin: 2rem 0 3rem 0; }
  .stream-container .stream {
    width: 100%; }

article.news iframe {
  margin-top: 1.5rem; }

aside .four {
  background-color: #666666; }

.gold-bg {
  background-color: #f1b82d;
  padding: 2rem; }
  .gold-bg p {
    font-size: 1.25rem;
    text-align: center;
    color: #fff; }
    .gold-bg p h2 {
      color: #000000;
      text-align: center !important; }

.dark-bg {
  background-color: #222;
  padding: 2rem 0; }
  .dark-bg p {
    font-size: 1.25rem;
    text-align: center;
    color: #cccccc; }
    .dark-bg p h2 {
      color: #000000;
      text-align: center; }

#fast-facts p {
  font-size: 1.25rem;
  text-align: center;
  color: #fff; }
  #fast-facts p h2 {
    text-align: center;
    color: #fff; }

/*! Typebase.less v0.1.0 | MIT License */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../assets/fonts/proximanova-light-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-light-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../assets/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-bold-webfont.woff") format("woff"); }
@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("../assets/fonts/proximanova-thin-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-thin-webfont.woff") format("woff"); }
/* Setup */
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 20px; }

p#date {
  font-style: italic;
  line-height: 0.5rem;
  margin-top: 1.5rem;
  color: #666666; }

b,
strong {
  font-weight: bold; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li,
ol li {
  line-height: 2rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  font-family: Janson, "Times New Roman", serif;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.hero h2 {
  font-family: "Proxima Nova Thin", "Helvetica Neue", Verdana, sans-serif;
  color: #fff;
  font-size: 2.5rem;
  line-height: 2rem;
  margin-top: 2rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-family: "Proxima Nova Thin", "Helvetica Neue", Verdana, sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  color: #ad7e0b; }

h2 {
  font-family: "Proxima Nova Bold", "Helvetica Neue", Verdana, sans-serif;
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 2rem; }

h3 {
  font-family: "Proxima Nova Thin", "Helvetica Neue", Verdana, sans-serif;
  font-size: 1.5rem; }

h4 {
  font-family: "Proxima Nova Bold", "Helvetica Neue", Verdana, sans-serif;
  font-size: 1.25rem; }

h5 {
  font-family: "Proxima Nova Thin", "Helvetica Neue", Verdana, sans-serif;
  font-size: 1.25rem;
  color: #666666; }

h6 {
  font-family: "Proxima Nova Thin", "Helvetica Neue", Verdana, sans-serif;
  font-size: 1rem;
  font-style: italic; }

span.gold {
  color: #f1b82d;
  font-family: "Proxima Nova Bold", "Helvetica Neue", Verdana, sans-serif; }

abbr[title] {
  border-bottom: 1px dotted; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

table td,
table th {
  padding: 0;
  line-height: 33px; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug the block above you */
.hug {
  margin-top: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav ul, ol {
  margin: 0;
  padding-left: 0px; }

.highlight {
  background: #222699;
  padding: 0 0.5em; }

.block {
  position: relative;
  margin: 0 auto;
  padding: 1.5em 1.25em;
  max-width: 60em; }

.close-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../assets/close-btn.svg") left center no-repeat;
  background-size: 1.875em 1.875em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: transparent; }

.no-svg .close-btn {
  background-image: url("../assets/close-btn.png"); }

.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

nav a {
  text-decoration: none; }

.nav-btn {
  display: block;
  width: 2.625em;
  height: 2.25em;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../assets/nav-icon.svg") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-tap-highlight-color: transparent; }

.no-svg .nav-btn {
  background-image: url("../assets/nav-icon.png"); }

.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%; }

#inner-wrap {
  position: relative;
  width: 100%; }

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #222; }

#nav .close-btn {
  display: none; }

#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
  background: #fff; }

#nav ul {
  *zoom: 1;
  display: block; }

#nav ul:before, #nav ul:after {
  content: "";
  display: table; }

#nav ul:after {
  clear: both; }

#nav li {
  display: block; }

#nav li a {
  display: block;
  color: #222;
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none; }

#nav li a:focus, #nav li a:hover {
  color: #ccc;
  background: rgba(255, 255, 255, 0.1); }

#nav li.is-active a {
  color: #f1b82d; }

#top {
  z-index: 100;
  position: relative;
  color: #222;
  background: #333333; }

#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap; }

#top .nav-btn {
  position: absolute;
  top: .5em;
  left: 1.875em; }

#main {
  background: #222; }

#main .block {
  padding: 2.625em 1.875em; }

footer[role="contentinfo"] {
  background: #ddd; }

@media screen and (min-width: 45.0625em) {
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  #nav ul {
    text-align: center;
    white-space: nowrap; }

  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }

  #nav li:last-child {
    border-right: none; }

  #nav li a {
    padding: 0.42857em 0.85714em; } }
@media screen and (max-width: 45em) {
  #nav {
    position: absolute;
    top: 0;
    padding-top: 5.25em; }

  #nav:not(:target) {
    z-index: 1;
    height: 0; }

  #nav:target .close-btn {
    display: block; }

  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em; }

  #nav .block {
    position: relative;
    padding: 0; }

  #nav li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }

  #nav li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  #nav li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid; }

  #nav li a {
    padding: 0.85714em 2.14286em;
    color: #ccc; }
    #nav li a:hover, #nav li a:focus, #nav li a .is-active {
      color: #ccc; }

  .js-ready #nav {
    height: 100%;
    width: 70%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25); }

  .js-ready #nav .block {
    background: transparent; }

  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }

  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

  .js-ready #nav {
    left: -70%; }

  .js-ready #inner-wrap {
    left: 0; }

  .js-nav #inner-wrap {
    left: 70%; }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1); }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%; }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
#hero-button {
  margin-top: 35px;
  padding: 16px; }

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #f1b82d;
  border: 1px solid #f1b82d;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }
  .ghost-button:hover, .ghost-button:active {
    background-color: #f1b82d;
    border: 1px solid #ad7e0b;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.ghost-button-rounded {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #f1b82d;
  border: 1px solid #f1b82d;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }
  .ghost-button-rounded:hover, .ghost-button-rounded:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.ghost-button-thick {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #f1b82d;
  border: 3px solid #f1b82d;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }
  .ghost-button-thick:hover, .ghost-button-thick:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.ghost-button-full-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #f1b82d;
  background-color: transparent;
  border: 2px solid #f1b82d;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out; }
  .ghost-button-full-color:hover, .ghost-button-full-color:active {
    background-color: #f1b82d;
    border-color: #ad7e0b;
    color: #fff;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in; }

.ghost-button-size-transition {
  display: inline-block;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 8px;
  color: #f1b82d;
  border: 2px solid #f1b82d;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: width 0.3s ease-out, height 0.3s ease-out, line-height 0.3s ease-out; }
  .ghost-button-size-transition:hover, .ghost-button-size-transition:active {
    width: 220px;
    height: 45px;
    line-height: 45px;
    transition: width 0.1s ease-in, height 0.1s ease-in, line-height 0.1s ease-in; }

/* The Grid ---------------------- */
.row {
  width: 1040px;
  max-width: 100%;
  margin: 0 auto; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.row.collapse .column, .row.collapse .columns {
  padding: 0; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.row .row.collapse {
  margin: 0; }

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

.one, .row .one {
  width: 8.33333%; }

.two, .row .two {
  width: 16.66667%; }

.three, .row .three {
  width: 25%; }

.four, .row .four {
  width: 33.33333%; }

.five, .row .five {
  width: 41.66667%; }

.six, .row .six {
  width: 50%; }

.seven, .row .seven {
  width: 58.33333%; }

.eight, .row .eight {
  width: 66.66667%; }

.nine, .row .nine {
  width: 75%; }

.ten, .row .ten {
  width: 83.33333%; }

.eleven, .row .eleven {
  width: 91.66667%; }

.twelve, .row .twelve {
  width: 100%; }

.row .offset-by-one {
  margin-left: 8.33333%; }

.row .offset-by-two {
  margin-left: 16.66667%; }

.row .offset-by-three {
  margin-left: 25%; }

.row .offset-by-four {
  margin-left: 33.33333%; }

.row .offset-by-five {
  margin-left: 41.66667%; }

.row .offset-by-six {
  margin-left: 50%; }

.row .offset-by-seven {
  margin-left: 58.33333%; }

.row .offset-by-eight {
  margin-left: 66.66667%; }

.row .offset-by-nine {
  margin-left: 75%; }

.row .offset-by-ten {
  margin-left: 83.33333%; }

.push-two {
  left: 16.66667%; }

.pull-two {
  right: 16.66667%; }

.push-three {
  left: 25%; }

.pull-three {
  right: 25%; }

.push-four {
  left: 33.33333%; }

.pull-four {
  right: 33.33333%; }

.push-five {
  left: 41.66667%; }

.pull-five {
  right: 41.66667%; }

.push-six {
  left: 50%; }

.pull-six {
  right: 50%; }

.push-seven {
  left: 58.33333%; }

.pull-seven {
  right: 58.33333%; }

.push-eight {
  left: 66.66667%; }

.pull-eight {
  right: 66.66667%; }

.push-nine {
  left: 75%; }

.pull-nine {
  right: 75%; }

.push-ten {
  left: 83.33333%; }

.pull-ten {
  right: 83.33333%; }

img {
  height: auto; }

img, object, embed {
  max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img {
  max-width: none !important; }

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0; }

.block-grid > li {
  display: block;
  height: auto;
  float: left; }

.block-grid.one-up {
  margin: 0; }

.block-grid.one-up > li {
  width: 100%;
  padding: 0 0 15px; }

.block-grid.two-up {
  margin: 0 -15px; }

.block-grid.two-up > li {
  width: 50%;
  padding: 0 15px 15px; }

.block-grid.two-up > li:nth-child(2n+1) {
  clear: both; }

.block-grid.three-up {
  margin: 0 -12px; }

.block-grid.three-up > li {
  width: 33.33333%;
  padding: 0 12px 12px; }

.block-grid.three-up > li:nth-child(3n+1) {
  clear: both; }

.block-grid.four-up {
  margin: 0 -10px; }

.block-grid.four-up > li {
  width: 25%;
  padding: 0 10px 10px; }

.block-grid.four-up > li:nth-child(4n+1) {
  clear: both; }

.block-grid.five-up {
  margin: 0 -8px; }

.block-grid.five-up > li {
  width: 20%;
  padding: 0 8px 8px; }

.block-grid.five-up > li:nth-child(5n+1) {
  clear: both; }

.block-grid.six-up {
  margin: 0 -8px; }

.block-grid.six-up > li {
  width: 16.66667%;
  padding: 0 8px 8px; }

.block-grid.six-up > li:nth-child(6n+1) {
  clear: both; }

.block-grid.seven-up {
  margin: 0 -8px; }

.block-grid.seven-up > li {
  width: 14.28571%;
  padding: 0 8px 8px; }

.block-grid.seven-up > li:nth-child(7n+1) {
  clear: both; }

.block-grid.eight-up {
  margin: 0 -8px; }

.block-grid.eight-up > li {
  width: 12.5%;
  padding: 0 8px 8px; }

.block-grid.eight-up > li:nth-child(8n+1) {
  clear: both; }

.block-grid.nine-up {
  margin: 0 -8px; }

.block-grid.nine-up > li {
  width: 11.11111%;
  padding: 0 8px 8px; }

.block-grid.nine-up > li:nth-child(9n+1) {
  clear: both; }

.block-grid.ten-up {
  margin: 0 -8px; }

.block-grid.ten-up > li {
  width: 10%;
  padding: 0 8px 8px; }

.block-grid.ten-up > li:nth-child(10n+1) {
  clear: both; }

.block-grid.eleven-up {
  margin: 0 -8px; }

.block-grid.eleven-up > li {
  width: 9.09091%;
  padding: 0 8px 8px; }

.block-grid.eleven-up > li:nth-child(11n+1) {
  clear: both; }

.block-grid.twelve-up {
  margin: 0 -8px; }

.block-grid.twelve-up > li {
  width: 8.33333%;
  padding: 0 8px 8px; }

.block-grid.twelve-up > li:nth-child(12n+1) {
  clear: both; }

.split-banner {
  background: url("../images/split-banner.jpg") no-repeat top center;
  background-color: #212933;
  border-top: 2px solid #f1b82d;
  height: 280px;
  position: relative; }

footer {
  background-color: #222222;
  padding: 40px 0;
  border-top: 2px solid #f1b82d; }
  footer p, footer a {
    font-size: 17px;
    text-decoration: none;
    line-height: 24px;
    color: #cccccc; }
  footer ul, footer li {
    font-size: 17px;
    display: inline-block;
    line-height: 27px;
    padding: 0px;
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #cccccc; }
    footer ul a:hover, footer li a:hover {
      color: #f1b82d; }
  footer h3 {
    color: #f1b82d;
    margin-top: 0px; }

#disclaimer {
  font-size: 14px; }
