html {
  /* Change default typefaces here */
  font-family: $sans-serif;
  font-size: 127%;
  -webkit-font-smoothing: antialiased;
}
body {
  color: $text-color;
  margin:0px; 
} 

.content {
	padding-bottom:2rem;
}

/* Link style */
a {
	color: $text-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.hero {
    text-align: center;
    background-color: gray;
    padding: 75px 0;
    background: url("../images/hero-img.jpg") no-repeat top center;
    background-size: cover;

    h2 {
    	color:#fff;
    	margin-top: 1rem;

    }
}

.stream-container {
    width:100%;
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    .stream {
        width:100%;
    }
}


