/*! Typebase.less v0.1.0 | MIT License */
@font-face {
  font-family: 'Proxima Nova';
  src:  url('../assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/proximanova-regular-webfont.woff') format('woff');
}
  
@font-face {
  font-family: 'Proxima Nova Light';
  src:  url('../assets/fonts/proximanova-light-webfont.woff2') format('woff2'),
        url('../assets/fonts/proximanova-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src:  url('../assets/fonts/proximanova-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/proximanova-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src:  url('../assets/fonts/proximanova-thin-webfont.woff2') format('woff2'),
        url('../assets/fonts/proximanova-thin-webfont.woff') format('woff');
}
 
/* Setup */
/* Copy & Lists */
p {
  line-height: 1.5rem; 
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size:20px;
}

p#date {
  font-style: italic;
  line-height: 0.5rem;
  margin-top: 1.5rem;
  color:$grey;
}

b,
strong {
  font-weight: bold;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 2rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  font-family: $serif;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero h2 {
  font-family: $sans-serif-thin;
  color: #fff;
  font-size: 2.5rem;
  line-height: 2rem;
  margin-top: 2rem;
}

/* Headings */ 
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-family: $sans-serif-thin;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  color:$gold-darker;
}
h2 {
  font-family: $sans-serif-bold;
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 2rem;
}
h3 {
  font-family: $sans-serif-thin;
  font-size: 1.5rem;
}
h4 {
  font-family: $sans-serif-bold;
  font-size: 1.25rem;
}
h5 {
  font-family: $sans-serif-thin;
  font-size: 1.25rem;
  color:$grey;
}
h6 {
  font-family: $sans-serif-thin;
  font-size: 1rem;
  font-style: italic;
}

span.gold {
  color:$gold;
  font-family: $sans-serif-bold;
}

abbr[title] {
  border-bottom: 1px dotted;
}
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}