
/*--------------------------------------------------------------*/
// Basic Mizzou color pallette 
/*--------------------------------------------------------------*/

$gold: #f1b82d;   // Mizzou gold
$black: #000000;  // Mizzou black

// Variations
/*--------------------------------------------------------------*/

// Golds

$gold-lightest: #fcf1d4;
$gold-lighter: #fae5b3;
$gold-light: #f7d583;
$gold-dark: #d39a0e; 
$gold-darker: #ad7e0b;

// Greys

$grey-lightest: #eeeeee;
$grey-lighter: #cccccc;
$grey-light: #999999;
$grey: #666666; 
$grey-dark: #444444; 
$grey-darker: #222222;