
// Families

$sans-serif:  'Proxima Nova', 'Helvetica Neue', Verdana, sans-serif;
$sans-serif-light:  'Proxima Nova Light', 'Helvetica Neue', Verdana, sans-serif;
$sans-serif-thin:  'Proxima Nova Thin', 'Helvetica Neue', Verdana, sans-serif;
$serif: Janson, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

